<section>
  <article>
    <h3> Interpolation / Interpolação : <a [href]="url">{{url}}</a></h3>
  </article>

  <article>
    <img [src]="imgUrl">
  </article>
  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>

      <div class="alert {{classe.value}}">Alert</div>
      <div
        class="alert"
        [class.alert-success]="classe.value == 'alert-success'"
        [class.alert-info]="classe.value == 'alert-info'"
        [class.alert-warning]="classe.value == 'alert-warning'"
        [class.alert-danger]="classe.value == 'alert-danger'"
      >Alert
      </div>
    </div>

    Selecione filtro de sexo:
    <select #sexo (change)="0">
      <option [value]="sexos.M">Masculino</option>
      <option [value]="sexos.F">Feminino</option>
      <option [value]="sexos.ALL">Todos</option>
    </select>

    <div *ngFor="let person of data"
         [class.tipo-masculino]="person.sexo == getValorMaculino()"
         [class.tipo-feminino]="person.sexo == getValorFeminino()"
         [style.display]="(sexo.value == person.sexo.toString() || sexo.value == sexos.ALL)? 'block' : 'none'"
    >
      <h2> Nome : {{person.nome}}</h2>
    </div>
  </article>


  <article>
    <h3>Event Binding</h3>
    <div>
      <button
        class="btn btn-primary"
        (click)="botaoClicado()"
      >
        Me click
      </button>

      <input (keyup)="onKeyUp($event)"
             (keyup.enter)="saveValue(campoInput.value)"
             (blur)="saveValue(campoInput.value)"
             #campoInput
      >

      <span
        (mouseover)="onMouseOver()"
        (mouseout)="onMouseOver()"
        [class.highligth]="isMouseOver"
      >
      MouseOver
      </span>

      <label>{{valorAtual}}</label>
    </div>
  </article>

  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text"
             [value]="nome"
             (input)="nome = campoInputNome.value"
      #campoInputNome/>

      <input type="text"
             [(ngModel)]="nome"
             />

      <input type="text"
             [(ngModel)]="pessoa.nome"
      />
      <input type="text"
             [(ngModel)]="pessoa.idade"
      />

      <p>Meu nome é {{pessoa.nome}} e minha idade é {{pessoa.idade}}</p>
    </div>

    <label>{{nome}}</label>
  </article>

</section>

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
    <app-input-property nome="Kito"></app-input-property>

  </article>
</section>
